.App {
    text-align: center;
}

.alerts-container {
    position: fixed;
    top: 0px;
    left: 20px;
    width: 250px;
    z-index: 1000;
}

.charts-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
    .charts-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}